{
  plugins: ["@babel/plugin-syntax-object-rest-spread",
            "@babel/plugin-transform-runtime",
            "@babel/plugin-transform-spread",
            "@babel/plugin-proposal-object-rest-spread"]
}
