html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
}

body,
.CodeMirror {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               Ubuntu,
               'segoe ui', arial,
               sans-serif !important;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

.markdown-body {
  word-break: break-word;

  *::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
  }
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 20px;
}

input, textarea {
  &:focus {
    outline: none;
  }
}

/* modified gridly */
.row { display: flex; }
.col { flex: 1; }
@media (max-width: 600px) {
  .row { flex-direction: column; }
  .col { flex: 0 0 auto; }
}
@media (min-width: 600px) {
  .col-tenth { flex: 0 0 10%; }
  .col-fifth { flex: 0 0 20%; }
  .col-quarter { flex: 0 0 25%; }
  .col-third { flex: 0 0 33.3333334%; }
  .col-half { flex: 0 0 50%; }
}
