html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
}

body,
.CodeMirror {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               Ubuntu,
               'segoe ui', arial,
               sans-serif !important;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

.markdown-body {
  *::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
  }
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 20px;
}

input, textarea {
  &:focus {
    outline: none;
  }
}
